body {
  background-color: rgba(253, 248, 190, 0.7);
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 16px;
  line-height: 20px;
}
h1, h2 {
  font-family: 'Lato';
}
h1 {
  color: #88304E;
  font-size: 24px;
  line-height: 30px;
}
h2 {
  font-size: 18px;
  line-height: 30px;
}

p {
  color: rgba(70,70,70,0.8);
}
a {
  text-decoration: none;
  color: #88304E;
}
a:hover {
  opacity: O.5;
  color: #311D3F;
}

/* class and ids */
.img-circle {
  border-radius: 50%;
  padding: 20px;
}

.card-white {
  background-color: #FFFBE0;
  text-align: center;
  width: 700px;
  margin: 15px auto;
  border: 2px solid rgb(230,230,230);
  border-radius: 3px;
  box-shadow: 2px 2px 2px rgb(200, 200, 200);
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline-block;
  padding: 0px 10px;
}

.list-inline li a {
  padding: 10px;
}

.img-rectangle {
  margin: 20px 30px;
}

.shadowed {
  box-shadow: 2px 2px 5px black;
}

.test-grey {
  color: rgba(70,70,70,0.8);
}

#sidebar {
  position: fixed;
  width: 150px;
  left: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  background-color: #88304E;
  border-radius: 3px;
}

.sidebar-points {
  list-style: none;
  font-size: 30px;
  padding-left: 0px;
}

.fa-side {
  color: white;
  padding: 15px;
}

.fa-side:hover {
  opacity: O.5;
  color: rgb(253, 248, 150);
}

#page-content {
  margin-left: 150px;
}


@media (max-width: 500px) {
  .card-white {
    width: 300px;
  }
}

